@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-color: #000000;
}

#info{
    padding-top: 20px;
    color: white;
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#info h1{
    color: #59d6ff;
}

#threejs-canvas{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}